    /* commom styles for all html files start */
    body{
        height: 100%;
        width: 100%;
        background-color: #e0e0e0;
        margin: 0%;
        font-family: Ubuntu,sans-serif;
        overflow: scroll;
    }
    
    
    #logo{
        height: 60px;
        width: 60px;
    }
    #login,#contact,#veiwmore{
        text-decoration: none;
        color: black;
     }
     a{
         text-decoration: none;
         color: black;
     }
   
    header{
        height: 70px;
        width: 100%;
        background-color: rosybrown;
        top: 0;
        position: fixed;
       
    }

    #header-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2%;
    }
  
    
    footer{
        bottom:0;
        position: fixed;
        width: 100%;
        height: 70px;
        background-color: rosybrown;
       
    }
    #footer-div{
        height: 70px;
        margin: 0 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #social-meadia img{
        height: 20px;
        width: 22px;
    }
     /* commom styles for all html files end */
    
    /* detail.html styles start*/
    #paymentform{
        margin: 0% 4% 1%;
    }
    #description{
        margin: 1% 4% 2%;
    }
    /* detail.html styles end  */
    
        /* payment.html styles start */
        #traifdetail{
           z-index: relative;
            margin:2%;
           
            padding: 1% 2%;
        }
         /* payment.html styles end */